POSTGRES_USER=postgres
POSTGRES_PASSWORD=Postgres123

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Admin123

POSTFIX_USERNAME=smtpd
POSTFIX_PASSWORD=Smtpd123
SMTP_USERNAME=smtp
SMTP_PASSWORD=Smtp123
LDAP_BIND_PASSWORD=Ldap123

ATLASSIAN_IP_JSON_URL=https://ip-ranges.atlassian.com/
DATADOG_API_KEY=your_datadog_api_key
DATADOG_APP_KEY=your_datadog_app_key
DATADOG_SITE=datadoghq.com
IP_CHECK_INTERVAL=3600
HEALTH_PORT=8090
METRIC_REPORT_INTERVAL=300